<ion-tabs>
  <ion-tab-bar slot="bottom" #myTabBar id="myTabBar">
    <ion-tab-button tab="home" >
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-terapias">
      <ion-icon name="hand"></ion-icon>
      <ion-label>Terapias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-graficas">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Graficas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>