<app-header titulo="Terapia de Rodilla">
  </app-header>

  <!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Terapia de rodilla
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-list>
        <ion-card>
            <ion-card-header>
                <h5>Ejercicio Calentamiento Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/LOe_wcdmZ38" frameborder="0" allowfullscreen></iframe>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h5>Astrosis De Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/tHunaYqNiqI" frameborder="0" allowfullscreen></iframe>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h5>Extension De Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/8uOnbVXnu2k" frameborder="0" allowfullscreen></iframe>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h5>Priocepcion de Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/PXSmI7DNkM4" frameborder="0" allowfullscreen></iframe>
            </ion-card-content>
        </ion-card>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </ion-list>
</ion-content>

